body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

.navbar {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

.btn-primary {
  background-color: #22668a;
  color: white;
}

.float-right {
  float: right;
}

.hasil {
  height: 75vh;
}

.overflow-auto::-webkit-scrollbar {
  display: 0 !important;
}

.overflow-auto {
  scrollbar-width: none;
}

.menu {
  height: 90vh;
}

@media only screen and (max-height: 1000px) {
  .menu {
    height: 800px;
  }
}
